absl-py==0.6.1
astor==0.7.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
docopt==0.6.2
Flask==1.1.1
Flask-GoogleMaps==0.2.6
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.15.4
pandas==0.23.4
pipreqs==0.4.9
protobuf==3.6.1
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.22.0
scipy==1.1.0
six==1.11.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
urllib3==1.25.6
Werkzeug==0.16.0
yarg==0.1.9
